<div id="content">
  <h2>Welcome Dental Professionals</h2>
  <h3><a href="#">Products</a></h3>
  
  <p>
    Add a product description here.
  </p>
  
  <img src="http://www.chairsidefilter.com/chairsidefiltersite002007.jpg">    

</div>